header.top {
	background-color: rgb(51, 0, 65);;
	margin: 10px 10px 0px 10px;
	height:           80px;
}
#github{
  position: absolute;
  	top: 56px;
  	right:20px;
}
nav{
   font-family: "宋体";
   font-size: 14px;
   list-style-type: none;
   position:absolute;
   top: 60px;
   right:55px;
  }
nav li{
     display: inline;
     padding:5px 10px 5px 10px;
     }
nav li a:link,nav li a:visited{
      color:white;
      border-bottom:none;
      font-weight:bold;
      }
div.body1{
  background-image: url(banner-bg.jpg);
          height:868px;
          }
p.p1{font-size: 12px;
     margin-top: 12px;

     line-height: 150%;

    }
h1{font-size: 14px;
   text-align: right;}
#body1wen{background-color: white;
          padding: 10px 10px 30px 10px;
           width:300px;
         position: absolute;
         right: 10px;
         top: 720px;
         }
#tableContainer {
         	display: table;
         	border-spacing: 10px;/*border-spacing 属性设置相邻单元格的边框间的距离（仅用于“边框分离”模式）。*/
          margin: auto;
					background-color: #efe5d0;
					padding: 10px 60px 60px 60px;
				 }
#tableRow {
         	display: table-row;/*作为一个或多个行的分组来显示*/
         }

section#first,section#second,section#three{width: 33%;
                  background-color: white;
                  line-height: 170%;
                  font-size: 12px;
                 }
section#first{
								display: table-cell;
							  background-color: white;
							  width: 33%;
								padding: 15px;
							  vertical-align: top;
									}
section#second {
               display: table-cell;

               padding:  15px;
              vertical-align: top;
              }
section#three {
               display: table-cell;

               padding:15px;
               vertical-align: top;
               }
#img1,#img2,#img3{width:100%;}
#main{background-color: white;
      margin: auto;
		  text-align: center;}
#my{width:600px;
    margin: auto;
		text-align: justify;
		font:14px black;
}
h2{text-align: center;
   font: 20px black "Century Gothic";}
#yuan{width: 160px;
      height: 160px;
		  border-radius: 50%;
		  background-image: url(img2.png) ;
		  margin: auto;
		  position: relative;
		  top:-50px;}
#foot{background-color: black;
	    color: white;

     }
#footer{margin: auto;
       border-bottom: solid 1px gray;
		   text-align: center;
		   padding-top:5px; }
a{ text-decoration: none;
  }
a:hover{ text-decoration: underline;
  }
a:link{color: white;}
a:visited{color:white;}
#abcde{display: table;
        border-spacing: 10px;
			  }
#abcderow{	display: table-row;}
section#a{display: table-cell;
   vertical-align: top;
  width: 20%;
  padding: 15px;}
section#b{display: table-cell;
	  vertical-align: top;
width: 20%;
padding: 15px;}
section#c{display: table-cell;
   vertical-align: top;
  width: 20%;
padding: 15px;}
section#d{display: table-cell;
	 vertical-align: top;
  width: 20%;
padding: 15px;}
section#e{display: table-cell;
	 vertical-align: top;
  width: 20%;
padding: 15px;}
ul{list-style-type: none;}
h1{text-align: center;}
#f{margin: auto;}
